<nav>
    <div class="title">
        <a href="/"><h1>BlogStar</h1></a>
        <p>The blogging site for everyone</p>
    </div>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/me">Profile</a></li>
      <li><a href="/blogs">blogs</a></li>
      <li><a href="/blogs/create">New blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/auth/sign_up">Sign Up</a></li>
      <li><a href="/auth/sign_in">Sign In</a></li>
    </ul>
</nav>