<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %> 
<body>
   <%- include("./partials/nav.ejs") %> 

   <div class=" create content">
    <form class="create-blog" action="" method="POST">
        <label for="title" >Blog Title</label>
        <input type="text" id="title" required><br>

        <label for="description" >Description</label><br>
        <textarea id="description" cols="40" rows="4" required></textarea><br>

        <label for="author" >Author</label><br>
        <input type="text" id="author" required><br>

        <label for="body" >Blog content</label><br>
        <textarea name="" id="body" cols="40" rows="10" required></textarea>
       <button type="submit">Submit</button> 
    </form>
   </div>


</body>

<%- include("./partials/footer.ejs") %> 
</html>