<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/nav.ejs") %> 
    <div class="intro">
        <p>Welcome User</p>
    </div>
</body>

<%- include("./partials/footer.ejs") %> 
</html>