<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/nav.ejs") %> 
    <div class="intro">
        <h1>Welcome <%= user %></h1>
         <p>Here are your blogs:</p>
    </div>
</body>

<%- include("./partials/footer.ejs") %> 
</html>