<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/nav.ejs") %> 
    <div class="signin">
        <form class="signin" action="/auth/sign_in" method="POST">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Sign In</button>
        </form>
    </div>
</body>

<%- include("./partials/footer.ejs") %> 
</html>