<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/nav.ejs") %> 
    <div class="signup">
        <form class="signup"  action="/" method="POST">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="first_name" required>

            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="last_name" required>

            <label for="email">Email</label>
            <input type="text" id="email" nname="email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <label for="comfirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirmPassword" required>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>

<%- include("./partials/footer.ejs") %> 
</html>