<nav>
    <div class="title">
        <a href="/"><h1>BlogStar</h1></a>
        <p>The blogging site for everyone</p>
    </div>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/create">blogs</a></li>
    </ul>
</nav>